In [1]:
import pandas as pd
import requests
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [4]:
temp_df.head()

       id                        title  ... vote_average vote_count
0  634649      Spider-Man: No Way Home  ...          8.8        836
1   19404  Dilwale Dulhania Le Jayenge  ...          8.7       3279
2     278     The Shawshank Redemption  ...          8.7      20296
3     238                The Godfather  ...          8.7      15181
4  724089    Gabriel's Inferno Part II  ...          8.7       1351

[5 rows x 7 columns]

In [3]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [6]:
for i in range(1,20):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

In [7]:
df

          id                         title  ... vote_average vote_count
0     634649       Spider-Man: No Way Home  ...          8.8        836
1      19404   Dilwale Dulhania Le Jayenge  ...          8.7       3279
2        278      The Shawshank Redemption  ...          8.7      20296
3        238                 The Godfather  ...          8.7      15181
4     724089     Gabriel's Inferno Part II  ...          8.7       1351
...      ...                           ...  ...          ...        ...
6655    3777               Throne of Blood  ...          8.0        551
6656   32085                       Vincent  ...          8.0        659
6657  152532            Dallas Buyers Club  ...          7.9       7047
6658     946  Letter from an Unknown Woman  ...          7.9        206
6659   76203              12 Years a Slave  ...          7.9       9332

[6660 rows x 7 columns]

In [9]:
df.shape

(6660, 7)

In [10]:
df.to_csv('movies.csv')